.p1{
    border: 2px solid #d21717;
    color: #893a3a;
    border-radius: 2px;
    margin-right: 4px;
    padding: 4px;
}
.p2{
    
    border: 2px solid #da9292;
    color: #b91616;
    border-radius: 2px;
    margin-left: 4px;
    padding: 4px;

}
.paracontainer{
    display: flex;

}

.Ingredients{
    border: 3px solid rgb(220, 236, 0);
}

.olincredients{
    border: 3px solid blue;
    background-color: aqua;
    padding: 4px;
    margin: 5px;
}
.button {
    font-size: 20px;
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid rgb(217, 183, 183);
    margin-top: 20px;
    padding: 10px 10px;
    background-color: bisque;
    box-shadow: 5cap;
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
    
}

.button:hover{
    background-color: azure;
    color: black;
    text-decoration: dashed;
}
.btn{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.footer{
    display: flex;
    justify-content: center;
}