.heading{
    
    justify-content: center;
    /* border: 2px solid rgb(242, 111, 111); */
    display: flex;
}

.img{
    /* border: 1px solid red; */
    /* background:radial-gradient(circle, #ff9966, #ff5e62); */
    width: 300px;
    height: 300px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paracontainer{
    /* border: 2px solid red; */
    display: flex;
    margin: 10px 20px;
    padding: 10px 20px;

}

.p1,.p2{
    background: radial-gradient(circle, #ff9966, #ff5e62);
    /* border: 2px solid rgb(119, 43, 130); */
    margin: 4px;
    padding: 10px 20px;
    /* background-color: rgb(157, 120, 193); */
    /* color: rgb(230, 228, 228); */
    border-radius: 25px;
    box-shadow: 10px 10px 10px ;
}

.Incredients{
    /* border: 3px solid rgb(192, 30, 135); */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 20px;

}
.Incredients ul{
    list-style-type: none;
}

.button {
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    border: 5px solid #dfdfdf;
    text-shadow: 2cap;
    background-color: #f4f3f3;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    color: rgb(8, 2, 2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.button:hover{
    background-color: #a2a8d3;
    color: black;
    border: 5px solid  #e7eaf6;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.btn{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.footer{
    display: flex;
    justify-content: center;
}