.heading{
    
    justify-content: center;
    border: 2px solid rgb(242, 111, 111);
    display: flex;
}

.img{
    width: 200px;
    height: 200px;
    margin-left: 40%;
}

.paracontainer{
    display: flex;

}

.p1{
    border: 2px solid rgb(119, 43, 130);
    margin: 4px;
    padding: 4px;
    background-color: rgb(157, 120, 193);
    color: white;
}
.p2{
    border: 2px solid rgb(119, 43, 130);
    margin: 4px;
    padding: 4px;
    background-color: rgb(157, 120, 193);
    color: white;
}
.Incredients{
    border: 3px solid rgb(192, 30, 135);
    display: flex;
    justify-content: center;

}

.button {
    font-size: 20px;
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
    border: 2px solid rgb(217, 183, 183);
    margin-top: 20px;
    padding: 10px 10px;
    background-color: bisque;
    box-shadow: 5cap;
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
    
}

.button:hover{
    background-color: azure;
    color: black;
    text-decoration: dashed;
}
.btn{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.footer{
    display: flex;
    justify-content: center;
}